.commodity-column {
  -webkit-column-count: 2;
  -webkit-column-gap: 2;
  column-count: 2;
  column-gap: 20rpx;
  padding-bottom: 20rpx;

  .commodity-item {
    break-inside: avoid;/*避免在元素内部插入分页符*/
    box-sizing: border-box; 
    max-height: 500rpx;
    background:rgba(255,255,255,1);
    box-shadow:0rpx 6rpx 12rpx rgba(199,199,199,0.16);
    border-radius:20rpx;
    overflow: hidden;
    margin-bottom: 20rpx;
    padding-bottom: 20rpx;
    position: relative;
  
    // 商品图片
    .img {
      width: 100%;
      height: 314rpx;
      overflow: hidden;
  
      image {
        width: 100%;
        height: 100%;
        position: inherit;
      }
    }
  
    // 商品描述
    .desc {
      margin: 18rpx;
  
      // 商品标题
      .title {
        font-size:28rpx;
        font-family:PingFang SC;
        font-weight:500;
        line-height:18px;
        color:rgba(51,51,51,1);
      }
    }
  }

  .limited-buying {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 24rpx;
    height: 48rpx;
    line-height: 10rpx;
    padding: 0 15rpx 0 0;
    border-top-left-radius: 20rpx;
    border-width: 28rpx;
    border-style: solid;
    border-color: rgba(255, 118, 49, 0.62) transparent rgba(255, 118, 49, 0.62) rgba(255, 118, 49, 0.62);

  }
}

.commodity-row {
  .commodity {
    &-count {
      color: #666666;
      font-size: 14px;
      font-weight: 500;
    }
    &-item {
      width: 100%;
      margin-bottom: 20rpx;
      overflow: hidden;
      display: inline-flex;
      align-items: center;
      border-bottom: 1px solid #f7f7f7;
      padding: 15px 15px;
  
    }
  
    &-img {
      min-width: 100px;
      max-width: 100px;
      height: 100px;
      border: 1px solid #f7f7f7;
      // padding: 5px;
      border-radius: 12rpx;
  
    }
  
    &-info {
  
      .title {
        margin-top: 10rpx;
        font-size: 36rpx;
        font-family: PingFang SC;
        font-weight: 700;
        color:rgba(51,51,51,1);
      }
  
      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}