.filter-list {
  height: 60px;
  margin-top: 50px;
  padding: 0 15px;

  .btn-filter {
    justify-content: space-around;
  }

  .split {
    min-width: 2px;
    max-width: 2px;
    height: 15px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }

  .cuIcon-sort {
    line-height: 20px;
    font-size: 22px;
  }
}

.scroll-page {
  background-color: #fff;
}

.filter-container {
  flex-basis: 80%;
  background-color: #fff;

  .title {
    height:25px;
    padding: 0 15px;
    font-size:16px;
    font-family:PingFang SC;
    font-weight:700;
    color:rgba(17,17,17,1);
    height: 36px;
    line-height: 36px;
    text-align: left;
  }

  .ipt-box {
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 44px;
    text-align: center;

    .ipt {
      flex-basis: 45%;
      background-color: #f7f7f7;
      height: inherit;
    }

    .split {
      flex-basis: 15px;
      height: 2px;
      background-color: #666666;
      border-radius: 5px;
    }
  }

  .brand-box {
    text-align: center;
    padding: 0 15px;

  }
  
  .tag-list {
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;

    .qs-tag {
      height:30px;
      line-height:30px;
      background:rgba(255,255,255,1);
      border:1px solid rgba(233,233,233,1);
      border-radius:2px;
      padding: 0 5px;
      margin-bottom: 10px;
    }
    
    .active {
      border: 1px solid #22BFB7;
      color: #22BFB7;
    }
  }
}

.list-order-none {
  text-align: center;
  // padding-top: 100rpx;
  color: #888888;
  background-color: #fff;
  padding: 0 20rpx 30rpx 20rpx;
  margin: 10px 30rpx;
  border-radius: 30rpx;

  image {
    height: 600rpx;
  }
}
