.order-detail-page .top-banner {
  background-color: #fff;
  padding-top: 30rpx;
}
.order-detail-page .money-view {
  background-image: url('https://yykjoss.oss-cn-shenzhen.aliyuncs.com/wechaapplet/basic/bg-shop.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 260rpx;
  border-radius: 10px;
}
.order-detail-page .list-order-item {
  background-color: #fff;
  padding: 0 20rpx 30rpx 20rpx;
  margin-bottom: 20rpx;
}
.order-detail-page .list-order-item-header {
  height: 100rpx;
  line-height: 100rpx;
  font-size: 28rpx;
  border-bottom: 1px solid #e2e2e2;
}
.order-detail-page .list-order-item-header .tag {
  color: #883c41;
  float: left;
}
.order-detail-page .list-order-item-header .order-number {
  color: #3d3d3d;
  float: left;
}
.order-detail-page .list-order-item-header .order-status {
  float: right;
}
.order-detail-page .list-order-item-body {
  width: 100%;
  display: inline-flex;
  padding: 30rpx 0 30rpx 0;
}
.order-detail-page .list-order-item-body .shop-view {
  flex-basis: 74rpx;
  height: 74rpx;
}
.order-detail-page .list-order-item-body .shop-view .img {
  width: 100%;
  height: 100%;
  border-radius: 100rpx;
}
.order-detail-page .list-order-item-body .shop-attr {
  width: 100%;
  margin-left: 48rpx;
}
.order-detail-page .list-order-item-body .shop-attr-shape {
  color: #3d3d3d;
}
.order-detail-page .list-order-item-body .shop-attr-specs {
  color: #b3b3b3;
  margin-top: 10rpx;
}
.order-detail-page .list-order-item-body .shop-attr-total {
  width: 100%;
  margin-top: 10rpx;
}
.order-detail-page .list-order-item-footer {
  margin-top: 24rpx;
}
.order-detail-page .list-order-item-footer .order-mark {
  color: #3d3d3d;
}
.order-detail-page .list-order-item-footer .order-total {
  color: #3d3d3d;
  text-align: right;
  padding-top: 30rpx;
  margin-top: 10px;
  border-top: 1px solid #e2e2e2;
}
.order-detail-page .list-order-item-footer .btn-delete-order {
  overflow: hidden;
  margin-top: 20rpx;
}
.order-detail-page .list-order-item-footer .btn-delete-order .button {
  float: right;
  font-size: 28rpx;
  border: 1px solid #22BFB7;
  color: #22BFB7;
  background-color: transparent;
  border-radius: 50rpx;
  text-align: center;
  width: 164rpx;
  height: 54rpx;
  line-height: 54rpx;
  padding: 0;
  box-sizing: content-box;
}
.order-detail-page .list-order-item-footer .btn-delete-order .button::after {
  border: none;
}
